In [1]:
print("this is python class")

this is python class

In [2]:
print('this is python class')

this is python class

In [5]:
#print('this is python class')
print("SELENIUM")

SELENIUM

In [ ]:
# variables 
int is a integer data type  can accepts data only numbers either 0, postive or negative numbers
float is a data type which accepts decimal point numbers 1.2,3.4,0.1 etc
string which will define as a str it accepts only alphabets " " or '' we can use alphanumeric but shld be " " or ' '

In [6]:
a=9   # a is the variable and 9 is the data stored in variable a
print(a)

9

In [10]:
type(a)

int

In [7]:
print("a")

a

In [9]:
print("b")

b

In [11]:
h= 4.7
print(h)

4.7

In [12]:
type(h)

float

In [13]:
g="python"
print(g)

python

In [14]:
type(g)

str

In [15]:
j="selenium1234.70"
print(j)

selenium1234.70

In [16]:
type(j)

str

In [21]:
a="ALL PYTHON AND SELENIUM G"
b=5
c=9.1
print(a,b,c)
type(a)
type(b)
type(c)

ALL PYTHON AND SELENIUM G 5 9.1

float

In [22]:
a="ALL PYTHON AND SELENIUM G"
b=5
c=9.1
print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

ALL PYTHON AND SELENIUM G 5 9.1
<class 'str'>
<class 'int'>
<class 'float'>

In [23]:
a=9
b=8
print(a)
print(b)

9
8

In [24]:
a=9
b=8
a
b

8

In [25]:
a

9

In [26]:
b

8

In [27]:
a
b

8

In [ ]:
#### opertaors ######
>
<
>=
<=
==
!=
always output as boolean form true or False

In [28]:
# > 
a=9
b=5
a>b

True

In [29]:
type(a>b)

bool

In [32]:
a=8
b=9.7
a>b

False

In [34]:
#< 
a=8
b=9.7
a<b

True

In [33]:
#< 
a=9
b=7
a<b

False

In [35]:
#==
a=9
b=9
a==b

True

In [36]:
a=8
b=9
a==b

False

In [37]:
#>=
a=9
b=8
a>=b

True

In [38]:
a=9
b=9
a>=b

True

In [39]:
a=8
b=9
a>=b

False

In [40]:
#<=
a=8
b=9
a<=b

True

In [41]:
a=8
b=8
a<=b

True

In [42]:
a=9
b=8
a<=b

False

In [43]:
# !=
a=9
b=8
a!=b

True

In [44]:
a=8
b=8
a!=b

False

In [45]:
a=9
b=9
a==b

In [ ]:
## logical operator
and operator :left hand and right hand condition is true o/p will true 
or operator : any one condition is true o/p is true either left or right
not opertor: if condition is true o/p is false either of this

In [46]:
a=9
b=8
c=6
d=3
a>b and c>d

True

In [47]:
a=9
b=8
c=6
d=3
a<b and c>d

False

In [48]:
a=9
b=8
c=6
d=3
a<b and c<d

False

In [49]:
a=3.1
b=6
c="python"
d=5
a<b or c==d

True

In [50]:
a=3.1
b=6
c="python"
d=5
a==b or c==d

False

In [51]:
a=3.1
b=6
c=3
d=5
a<b or c<d

True

In [52]:
a=9
b=6
a>b

True

In [53]:
not(a>b)

False

In [58]:
a=9
b=1
c="python"
d="python"
not(a>b) and c!=d

False